i.fa-retweet, i.fa-remove {
    color: red;
}

.dropdown-trigger {
    background-color: #5982e9;
    color: rgb(255, 255, 255);
    margin-top: 2%;
}

.dropdown-trigger:hover {
    background-color:#5982e98f;
}

.dropdown-trigger:focus, .dropdown-trigger:active {
    background-color: #5982e9;
}

